.container {
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); */
  border-radius: 5px;
  color: #fff;
  margin: 0.5rem;
  padding: 0.5rem;
  max-width: 860px;
  width: 93%;
  font-family: sans-serif;
}

.containerList {
  list-style-position: inside;
}

.whitelink:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000;
}

.title {
  padding: 0 1rem;
  font-size: 1.4rem;
}

.navList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navList li {
  padding: 0 1rem;
}

.imgBackground {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;

  object-fit: cover;

  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.borderLine {
  border-top: 1px solid #fff;
}
